@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}


body {
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #444444;
}


header, main, footer {
  max-width: 1160px;
  margin: 0 auto;
}

.page-header:after {
    content: '';
    width: 1160px;
    height: 300px;
    background: #FFE17F;
    position: absolute;
    z-index: -1;
    top: 28px;
}

.top-panel {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}




.top-panel-input {
  color: #000000;
  font-size: 16px;
  line-height: 20px;
  position: relative;
  border: none;
  padding: 0px 0px;
  background: unset;
}

.top-panel-input::placeholder {
  background-image: url(../img/header/search-icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 16px;
  opacity: 0.3;
}

.top-panel-label {
  border: 2px solid #000000;
  border-radius: 50px 0px 0px 50px;
  padding: 16px 12px;
}


.top-panel-button {
  background: transparent;
  border: 2px solid #000000;
  border-radius: 0px 50px 50px 0px;
  padding: 16px 56px;
  border-left: unset;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}



.user-navigation-link, .user-navigation-exit-link, .compare-link, .cart-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-decoration: none;
}


.navigation-link {
  text-decoration: none;
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.navigation-item, .products-item {
  list-style: none;
}

.navigation-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}


.content-main-slider-box {
  position: relative;
}


.main-slider-item {
  display: flex;
  flex-wrap: nowrap;
}


.products-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}


.main-slider-number {
    font-weight: 700;
    font-size: 180px;
    line-height: 30px;
    display: block;
    color: #FFFFFF;
    position: absolute;
    z-index: -1;
    margin-right: auto;
    right: 0px;
    top: 40px;
}


.item-main-slider-title {
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin-top: 80px;
  margin-bottom: 30px;
}


.image-main-slider-product {
  position: relative;
  top: -45px;
}


.read-more {
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-bottom: 65px;
  text-decoration: none;
  color: #000000;
  display: block;
  width: 220px;
  position: relative;
}


.read-more:after {
  content: "";
  display: block;
  width: 220px;
  border-bottom: 8px solid #FFE17F;
  position: absolute;
  z-index: -1;
  top: 6px;
}


.products-image-wrapper {
  width: 160px;
  height: 160px;
  background: #FFE17F;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products-item:nth-child(2) img {
  align-self: end;
}

.products-title {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
  max-width: 160px;
  display: block;
  margin-top: 30px;
}