@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}

a:hover {
  opacity: 0.6;
}

a:focus {
  opacity: 1;
}

a:active {
  opacity: 0.3;
}

button:hover {
  opacity: 0.6;
}

button:focus {
  opacity: 1;
}

button:active {
  opacity: 0.3;
}

body {
  font-family: 'Rubik', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #444444;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/*
header, main, .page-footer-wrapper, .subscribe-wrapper {
  max-width: 1160px;
  margin: 0 auto;
  }*/


  html {
    height: 100%;
  }

  /* Хэдэр */

  .logo:hover {
    opacity: 0.6;
  }
  .logo:focus {
    opacity: 1;
  }
  .logo:active {
    opacity: 0.3;
  }

  header.page-header.container {
    padding-top: 20px;
  }

  .logo {
    margin-bottom: 30px;
  }

  .container {
    width: 100%;
    max-width: 1440px;
    padding: 0 140px;
    box-sizing: border-box;
    margin: 0 auto;
  }

  .page-header:after {
    content: '';
    width: 1160px;
    height: 300px;
    background: #FFE17F;
    position: absolute;
    z-index: -1;
    top: 40px;
  }

  .page-header-wrapper {
    padding: 0 60px;
  }

  .top-panel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .top-panel-input {
    color: #000000;
    font-size: 16px;
    line-height: 20px;
    position: relative;
    border: none;
    padding: 0 0;
    background: unset;
  }

  .top-panel-input::placeholder {
    background-image: url(../img/header/search-icon.svg);
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 16px;
    opacity: 0.3;
  }

  .top-panel-label {
    border: 2px solid #000000;
    border-radius: 50px 0 0 50px;
    padding: 0 10px;
    width: 359px;

  }

  .top-panel-button {
    background: transparent;
    border: 2px solid #000000;
    border-radius: 0 50px 50px 0;
    padding: 0 10px;
    border-left: unset;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    width: 160px;
  }

  .user-cart-box {
      display: flex;
      flex-wrap: wrap;
  }

  .user-navigation {
    flex-grow: 1;
    margin-left: 6px;
  }

  .cart-btn-box {
    margin-left: 36px;
  }

  .user-navigation-link, .user-navigation-exit-link, .compare-link, .cart-link {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    text-decoration: none;
    padding: 20px;
  }

  .navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
  }

  .navigation-link {
    text-decoration: none;
    font-family: 'Raleway', 'Arial', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
    position: relative;
    padding: 20px;
    padding-left: 0;
  }

  .navigation-link:last-child {
    padding-right: 0;
  }

/*
  .navigation-item:nth-child(1) {
    flex-grow: 1;
  }

  .navigation-item:nth-child(2) {
    flex-grow: 1;
    text-align: right;
  }

  .navigation-item:nth-child(3) {
    flex-grow: 1;
    text-align: right;
  }

  .navigation-item:nth-child(4) {
    flex-grow: 1;
    text-align: right;
  }
  */

  .navigation-catalog-box {
    padding: 0;
    margin: 0;
  }

  .sub-list {
    padding: 0;
    list-style: none;    
    grid-template-columns: 222px 211px 211px;
    grid-template-rows: 18px 18px 18px;
    gap: 18px 0;
    display: none;
  }

  .sub-list-toogle {
    display: grid;
    position: absolute;
    padding-top: 15px;
  }

  .sub-list-toogle:before {
    content: '';
    width: 1160px;
    height: 146px;
    background: #FFE17F;
    position: absolute;
    top: 3px;
    left: -60px;
    z-index: 20;
    transition: 1s;
  }

  .sub-list-toogle a {
    position: relative;
    z-index: 25;
    text-decoration: none;
    color: #000000;
  }

  .catalog-navigation .navigation-link:after {
    content: '';
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    background-image: url(../img/header/plus-icon.svg);
    background-repeat: no-repeat;
    top: 5px;
    right: -45px;
    z-index: 26;
  }

  .navigation-item, .products-item {
    list-style: none;
  }

  .navigation-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 0;
    min-width: 471px;
    gap: 15px 45px;
  }

  .user-navigation-link:before {
    content: '';
    background-image: url(../img/header/user-icon.svg);
    width: 13px;
    height: 12px;
    display: inline-block;
    margin-right: 13px;
  }

  .compare-link:before {
    content: '';
    background-image: url(../img/header/compare-icon.svg);
    width: 13px;
    height: 12px;
    display: inline-block;
    margin-right: 13px;
  }

  .cart-link {
    position: relative;
    padding-right: 0px;
  }

  .cart-link:before {
    content: '';
    background-image: url(../img/header/cart-icon.svg);
    width: 13px;
    height: 12px;
    display: inline-block;
    margin-right: 13px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .added-item-amount {
    background-color: white;
    position: absolute;
    padding: 3px 1px 0 1px;
    border-radius: 50px;
    width: 20px;
    height: 20px;
    display: block;
    text-align: center;
    font-size: 12px;
    line-height: 13px;
    font-weight: 400;
    top: 23px;
    left: 2px;
    border-width: inherit;
  }

  .content-main-slider-box {
    position: relative;
  }

  .main-slider-box {
    position: relative;
  }

  .main-slider-item {
    display: flex;
    gap: 40px;
    flex-wrap: nowrap;
    display: none;
   }

   .active {
    display: flex;
   }

   button.main-slider-arrow, .main-slider-control-button {
    cursor: pointer;
   }

   p.item-main-slider-description {
    margin: 0;
    margin-bottom: 50px;
  }

   .products-list {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 40px;
  }

  .products-item:not(:nth-child(6n)) {
    margin-right: 40px;
  }

  .products-item {
    margin-bottom: 30px;
  }

  .main-slider-number {
    font-weight: 700;
    font-size: 180px;
    line-height: 30px;
    display: block;
    color: #FFFFFF;
    position: absolute;
    z-index: -1;
    margin-right: auto;
    right: 35px;
    top: 40px;
  }

  .item-main-slider-title {
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
    margin-top: 0;
    margin-bottom: 30px;
    padding-top: 80px;
  }

  .image-main-slider-product {
    position: relative;
    top: -45px;
    z-index: -1;
  }

  .button {
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    display: block;
    position: relative;
  }

  .button:after {
    content: "";
    display: block;
    width: 100%;
    border-bottom: 8px solid #FFE17F;
    position: absolute;
    z-index: -1;
    top: 6px;
    left: 0;
  }

  .read-more {
    margin-bottom: 50px;
    max-width: 220px;
  }

  .details-data {
    font-weight: 400;
    font-size: 36px;
    line-height: 30px;
  }

  .details-header {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
  }

  .details {
    border-spacing: 20px 12px;
  }

  .main-slider-control {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 32px;
    position: relative;
    top: -56px;
  }

  button.main-slider-control-button {
    width: 12px;
    height: 12px;
    border-radius: 50px;
    border: 2px solid #000000;
    background-color: #FFFFFF;
    padding: 4px;
  }

  button.main-slider-control-button.active {
    background-color: #000000;
  }

  button.main-slider-arrow.left {
    background: url(../img/slider/arrow-left.svg);
    width: 20px;
    height: 60px;
    background-size: cover;
    border: none;
    display: block;
    position: absolute;
    top: 166px;
    left: 0;
    z-index: 10;
  }

  button.main-slider-arrow.right {
    background: url(../img/slider/arrow-right.svg);
    width: 20px;
    height: 60px;
    background-size: cover;
    border: none;
    display: block;
    position: absolute;
    top: 166px;
    right: 0;
    z-index: 10;
  }

  .image-main-slider-box {
    position: relative;
  }

  .products-image-wrapper {
    width: 160px;
    height: 160px;
    background: #FFE17F;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .products-item:nth-child(2) img {
    align-self: end;
  }

  .products-title {
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #000000;
    max-width: 160px;
    display: block;
    margin-top: 30px;
  }

  .top-panel-form {
    display: flex;
    flex-wrap: nowrap;
  }


  .advantages {
    position: relative;
    margin-bottom: 70px;
  }

  .advantages-content-box-title {
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
    margin-top: 0;
  }

  .advantages-content-box-description {
    font-weight: 400;
    margin: 0;
    font-size: 18px;
    line-height: 30px;
  }

  .advantages:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 200px;
    background-color: #f0f0f0;
    z-index: -1;
    top: 40px;
  }

  .tabs {
    position: relative;
    display: grid;
    gap: 35px;
    grid-template-rows: repeat(3, 40px);
    grid-template-columns: 280px 350px 280px;
  }

  .tabs input { 
    display: none;
  }

  .advantages-content-box { 
    visibility: hidden;
    padding: 15px; 
    display: none;
    justify-content: space-between;
    gap: 100px;
    grid-column: 2 /4;
    grid-row: 1 / 5;  
  }

  .advantages-content-box-right.delivery-icon:before {
    content: '';
    width: 136px;
    height: 164px;
    background: url(../img/advantages/delivery.svg);
    display: block;
    position: absolute;
  }

  .advantages-content-box-right.garanty-icon:before {
    content: '';
    width: 171px;
    height: 195px;
    background: url(../img/advantages/garanty.svg);
    display: block;
    position: absolute;
  }

  .advantages-content-box-right.credit-icon:before {
    content: '';
    width: 156px;
    height: 188px;
    background: url(../img/advantages/credit.svg);
    display: block;
    position: absolute;
  }

  #tab1:checked ~ #content1, #tab2:checked ~ #content2, #tab3:checked ~ #content3 { 
    visibility: inherit;
    display: flex; 
  }

  .tabs input:checked + label { 
    color: #FFE17F;
    background: #000000;
    height: 30px;
    display: block;
    padding-top: 10px;
    position: relative;
  }

  .tabs input:checked + label:after { 
    content: '';
    background: #000000;
    height: 40px;
    width: 275px;
    display: block;
    border-bottom: inherit;
    top: 0;
  }

  .tabs:before {
    content: '';
    position: absolute;
    border-left: 7px solid black;
    height: 224px;
    width: 7px;
    display: block;
    left: 273px;
  }

  .advantages-button { 
    display: block;
    cursor: pointer;
    font-family: 'Raleway', 'Arial', sans-serif;
    grid-column: 1;
    max-width: 160px;
  }

  .infobox {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
    background: #F0F0F0;
    height: 100px;
    align-items: center;
    gap: 30px;
  }

  .car-icon-wrapper {
    width: 125px;
    height: 100px;
    background: #FFE17F;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .car-icon-wrapper:before {
    content: '';
    width: 47px;
    height: 31px;
    position: absolute;
    background-size: cover;
    background-image: url(../img/misc/delivery-car.svg);
}

  .infobox-title {
    font-family: 'Raleway', 'Arial', sans-serif;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
  }

  .info-icon {
    width: 125px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .info-icon .info-icon-item {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(220, 220, 220, 0.5);
    border-radius: 50px;
  }

  .about {
    display: flex;
    gap: 100px;
    margin-bottom: 70px;
  }

  .about-title {
    font-family: 'Raleway', 'Arial', sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
    position: relative;
  }

  .about-title:before {
    content: "";
    display: block;
    width: 84px;
    border-bottom: 8px solid #000000;
    position: absolute;
    z-index: -1;
    top: -40px;
  }

  .about-button.button {
    width: 260px;
  }

  .about .about-text {
    font-family: 'Rubik', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
    margin: 0;
    margin-bottom: 30px;
  }

  .about .contacts-address-text {
    font-family: 'Rubik', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
    margin-bottom: 0;
    margin-top: 0;
  }

  li.about-item:before {
    content: '';
    width: 8px;
    height: 8px;
    display: block;
    position: absolute;
    background: #FFC700;
    top: 5px;
    left: 0;
    border-radius: 50%;
  }

  .contacts-subtitle {
    font-family: 'Rubik', 'Arial', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #444444;
  }

  .contacts-phone {
    color: #444444;
  }

  .contacts-schedule {
    list-style: none;
    padding: 0;
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
  }

  .about-list {
    font-family: 'Rubik', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #000000;
    list-style: none;
    padding-left: 0;
  }

  li.about-item {
    padding-bottom: 10px;
    position: relative;
    padding-left: 32px;
  }

  .about-item::marker {
    color: #FFC700;
  }

  .subscribe-row {
    display: flex;
    justify-content: space-between;
    gap: 180px;
  }

  .subscribe-free {
    position: relative;
  }

  .subscribe-free:before {
    content: '';
    background-image: url(../img/misc/tick.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    display: block;
    position: absolute;
    bottom: 7px;
    left: -22px;
  }

  .subscribe {
    padding-top: 70px;
    padding-bottom: 70px;
    background: #F0F0F0;
  }

  .subscribe-free {
    align-self: center;
  }

  .subscribe-title {
    font-family: 'Raleway', 'Arial', sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
    margin-top: 0;
  }

  .subscribe-text {
    font-family: 'Rubik', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
    margin-top: 0;
  }

  .subscribe-form-box-wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .subscribe-form-box-label input {
    background: none;
    border: none;
    padding: 23px 17px;
    width: 523px;
  }

  .subscribe-form-box-label {
    border-bottom: 3px solid #C4C4C4;
  }

  .subscribe-form-button {
    border: 3px solid #C4C4C4;
    padding: 18px 39px;
    width: auto;
    cursor: pointer;
  }

  .page-footer {
    background: #444444;
    padding-top: 62px;
    padding-bottom: 61px;
  }

  .additional-menu-lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px 35px;
    padding: 0;
    margin: 0;
  }

  .footer-contacts-address {
    font-family: 'Rubik', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    font-style: normal;
    position: relative;
    margin-top: 35px;
  }

  .footer-navigation {
    margin-top: 71px;
    max-width: 460px;
  }

  .footer-contacts:after {
    content: '';
    width: 80px;
    display: block;
    height: 7px;
    border-bottom: 7px solid #FFC700;
    position: absolute;
    bottom: 0;
  }

  .footer-copyright {
    margin-top: 71px;
  }

  .page-footer-wrapper {
    justify-content: space-between;
    display: flex;
  }

  .additional-menu-item-link {
    font-family: 'Raleway', 'Arial', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
  }

  .footer-phone {
    font-family: 'Rubik', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
  }

  .footer-social-list {
    display: flex;
    gap: 15px;
    padding: 0;
    list-style: none;
    justify-content: center;
    margin-top: 62px;
    margin-bottom: 0;
    flex-wrap: wrap;
  }

  .footer-social-link {
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.3);
    display: block;
    border-radius: 50px;
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
  }

  .telegram {
    background-image: url(../img/footer/telegram.svg);
  }

  .twitter {
    background-image: url(../img/footer/twitter.svg);
  }

  .youtube {
    background-image: url(../img/footer/telegram.svg);
  }

  .footer-contacts {
    max-width: 239px;
    position: relative;
  }

  .footer-contacts-logo:hover {
    opacity: 0.6;
  }
  .footer-contacts-logo:focus {
    opacity: 1;
  }
  .footer-contacts-logo:active {
    opacity: 0.3;
  }

  .inner-header-title {
    font-family: 'Raleway', 'Arial', sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
    margin-bottom: 16px;
    margin: 0;
  }

  /* Хлебные крошки */

  .breadcrumbs-item:not(:last-child) .breadcrumbs-link:after {
    content: '';
    background-image: url(../img/misc/breadcrumb-arrow.svg);
    width: 4px;
    height: 7px;
    display: inline-block;
    background-size: contain;
    margin-left: 20px;
    background-repeat: no-repeat;
  }

  .breadcrumbs {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 15px;
  }

  .breadcrumbs-link {
    font-family: 'Rubik', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    text-decoration: none;
    position: relative;
  }


  /* Каталог */

  .catalog-wrapper-inner {
    display: flex;
    gap: 40px;
    padding-top: 20px;
  }

  .catalog-filter {
    padding-top: 60px;
    min-width: 200px;
  }

  .catalog-wrapper-outer {
    background: #F0F0F0;
  }

  .catalog-content {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    margin-bottom: 78px;
  }

  .product-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
    max-width: 840px;
    padding-top: 70px;
    margin: 0;
  }

  .pagination-show-more, .pagination {
    margin-left: 40px;
    margin-right: 40px;
  }

  button.pagination-show-more {
    padding: 18px 39px;
    border: 3px solid #E5E5E5;
    background: no-repeat;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
  }

  .catalog-page {
    margin-bottom: 35px;
  }

  .catalog-page.page-header:after {
    height: 195px;
  }

  /* filter */

  .catalog-filter-group {
    border: none;
  }

  /*.catalog-wrapper-outer:before {
    position: absolute;
    content: '';
    display: block;
    width: 100vw;
    height: 120%;
    background: #f0f0f0;
    left: 0;
    z-index: -1;
  }*/

  .catalog-filter-heading {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
    margin-top: 0;
    margin-bottom: 0;
  } 

  .filter-button {
    background: inherit;
    border: none;
    z-index: 4;
    width: 100%;
  }

  .filter-button:after {
    z-index: -1;
    top:8px;
  }

  .catalog-filter-title {
    font-family: 'Rubik', 'Arial', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #000000;
  }

  select.select-control {
    border: none;
    background: none;
  }

  .catalog-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background: #F0F0F0;
  }

  .button-top, .button-bottom {
    position: relative;
    width: 11px;
    height: 10px;
  }

  .button-top-wrapper {
    display: flex;
  }

  .button-sort {
    padding: 10px;
  }

  .button-top:before {
    content: "";
    width: 11px;
    height: 10px;
    background-image: url(../img/misc/up.svg);
    position: absolute;

  }

  .button-bottom:before {
    content: "";
    width: 11px;
    height: 10px;
    background-image: url(../img/misc/down.svg);
    position: absolute;
  }

  .product-card:not(:nth-child(2n)) {
    margin-right: 40px;
    margin-left: 40px;
  }

  .product-card {
    margin-bottom: 40px;
  }

  .catalog-filter-list {
    padding: 0;
    list-style: none;
  }

  .product-card-title {
    font-family: 'Rubik', 'Arial', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #000000;
    max-width: 226px;
  }

  .product-card-link {
    text-decoration: none;
  }

  .pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    list-style: none;
  }

  b.product-card-price {
    color: #000000;
    font-weight: 400;
  }

  .title-price-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .pagination-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #444444;
    opacity: 0.6;
    text-decoration: none;
    padding: 10px;
  }

  .pagination-item:first-child a{
    padding-left: 0px;
  }

  .pagination-item:last-child a{
    padding-right: 0px;
  }

  .pagination-prev, .pagination-next {
    font-family: 'Raleway', 'Arial', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #444444;
    opacity: 0.3;
  }

  .pagination-next {
    opacity: 1;
    color: #000000;
  }

  /* css popup delivery */

  .close-icon-popup-delivery {
    width: 26px;
    height: 26px;
    background-image: url(../img/misc/close-popup-delivery.svg);
    background-size: cover;
  }

  .number-minus {
    width: 16px;
    height: 16px;
    background-image: url(../img/misc/minus.svg);
    background-size: cover;
  }

  .number-plus {
    width: 16px;
    height: 16px;
    background-image: url(../img/misc/plus.svg);
    background-size: cover;
  }

  .delivery-popup-form {
    max-width: fit-content;
    background: #FFFFFF;
    border: 10px solid #000000;
    box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    padding: 72px 80px;
    margin: 0 auto;
  }

  .delivery-info {
    width: 26px;
    height: 26px;
    background: #FFE17F;
    border-radius: 50px;
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 6px;
    cursor: pointer;
  }

    .delivery-popup-fieldset {
    border: none;
    display: grid;
    grid-template-columns: 180px 180px 180px 180px;
    grid-template-rows: 114px 114px 40px;
    gap: 42px 40px;
    border: none;
    padding: 0;
  }

  .delivery-popup-name {
    grid-column: span 2;
  }

  .delivery-popup-email {
    grid-column: span 2;
  }

  .delivery-popup-text {
    grid-column: span 3;
  }

  .delivery-popup-number {
    grid-column: span 1;
  }

  .delivery-popup-button {
    grid-column: span 1;
    background: inherit;
    border: none;
    z-index: 5;
    min-width: 200px;
  }

  .delivery-popup-item {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }

  .delivery-popup-title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000000;
    margin: 0;
    margin-bottom: 42px;
  }

  .delivery-input {
    height: 60px;
    background: #F0F0F0;
    border: 0px;
  }

  .delivery-popup-number-wrapper {
    display: flex;
    align-items: center;
    background: #F0F0F0;
  }

  .delivery-popup-label {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #000000;
    position: relative;
  }

.hover-info {
    display: none;
    position: absolute;
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    background: #000000;
    box-shadow: 0px 10px 0px rgb(0 0 0 / 10%);
    padding: 19px 17px;
    max-width: 200px;
    top: 35px;
  }

  .delivery-info:hover ~ .hover-info {
    display: inherit;
  }

  .delivery-input::-webkit-input-placeholder {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    opacity: 0.3;
    padding-left: 20px;
  }

  .delivery-popup-number-text{
    text-align: center;
  }

  .delivery-popup{
    position: absolute;
    width: 100%;
    z-index: 40;
    background: #ffffffe0;
    height: 100vh;
    display: flex;
    align-items: center;
  }

  .span-two {
    grid-column: span 2;
  }

  .popup-switcher {
    display: none;
  }

  .delivery-popup-header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  .number-minus, .number-plus {
    text-decoration: none;
    display: block;
  }

  .delivery-popup-number-text, .number-minus-wrapper, .number-plus-wrapper {
    text-align: center;
    width: 33%;
  }

  .number-minus-wrapper, .number-plus-wrapper {
    display: flex;
    justify-content: center;
  }

  .delivery-popup-button:after {
    z-index: -1;
    top: 16px;
  }

  .filter-title-price {
    margin-bottom: 30px;
  }

  .range {
    margin-bottom: 55px;
  }

  .catalog-filter-title:before {
    width: 168px;
    content: '';
    height: 2px;
    background-color: black;
    display: block;
    position: absolute;
    bottom: 27px;
}

.catalog-filter-title {
  position: relative;
}

/* ползунок фильтра */

  .catalog-filter-scale {
    width: 100%;
    height: 2px;
    background-color: #DCDCDC;
  }

  .catalog-filter-bar {
    width: 110px;
    height: 2px;
    background-color: #000000;
  }

  .catalog-filter-range-controls {
    position: relative;
  }

  .range-toggle-min {
    background: #EBEBEB;
    border: 2px solid #000000;
    width: 18px;
    height: 18px;
    border-radius: 50px;
    position: absolute;
    top: -10px;
    left: -10px;
  }

  .range-toggle-max {
    background: #EBEBEB;
    border: 2px solid #000000;
    width: 18px;
    height: 18px;
    border-radius: 50px;
    position: absolute;
    top: -10px;
    right: 50px;
  }

  .range-toggle-min:after {
    content: 'от 0';
    position: absolute;
    min-width: 70px;
    top: 20px;
    left: -7px;
    opacity: 0.3;
    font-size: 14px;
  }

  .range-toggle-max:after {
    content: 'до 5000';
    position: absolute;
    min-width: 70px;
    top: 20px;
    left: -20px;
    opacity: 0.3;
    font-size: 14px;
  }

  /* Стилизуем чекбоксы */

  .control-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  .control {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }

.control:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #CCCCCC;
    border-radius: 3px;
    margin-right: 16px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }

.control-input:checked + .control:before{
    border: 2px solid #000000;
    background-image: url(../img/misc/check-box-arrow.svg);
}


  .control-radio-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  .control-radio {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }

.control-radio:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #CCCCCC;
    border-radius: 50px;
    margin-right: 16px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }

.control-radio-input:checked + .control-radio:before{
    border: 2px solid #000000;
    background-image: url(../img/misc/dot.svg);
}

/* начало попап корзины */

.user-cart-box .popupflex {
    display: flex;
}

.user-cart-box-popup {
    display: none;
    position: absolute;
    flex-direction: column;
    flex-wrap: wrap;
    background: #000000;
    z-index: 5;
    min-width: 320px;
    padding: 20px;
    box-sizing: border-box;
    top: 56px;
    right: -65px;
}

.user-cart-box-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}

.user-cart-box-summary {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #1A1A1A;
    min-height: 44px;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
}

.user-cart-box-summary:before {
    content: '';
    background: #1A1A1A;
    min-height: 44px;
    min-width: 320px;
    position: absolute;
    z-index: -1;
    left: -20px;
}

.user-cart-text {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    max-width: 151px;
}

.user-cart-close {
    border: none;
    background: none;
}

.to-cart-link {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
}

.to-cart-wrapper {
    background: #FFFFFF;
    text-align: center;
    padding: 14px;
}

.user-cart-box-summary-items, .user-cart-box-summary-price {
    color: #FFFFFF;
}

.user-cart-close {
    border: none;
    background: inherit;
    background-image: url(../img/misc/close-white.svg);
    align-self: flex-start;
    width: 10px;
    height: 10px;
    background-repeat: no-repeat;
    background-size: contain;
}

.user-cart-box-popup:before {
    content: '';
    width: 14px;
    height: 6px;
    background: url(../img/misc/treangle.svg);
    position: absolute;
    background-size: contain;
    top: -5px;
    left: 155px;
    background-repeat: no-repeat;
}

.hover-info:before {
    content: '';
    width: 14px;
    height: 6px;
    background: url(../img/misc/treangle.svg);
    display: block;
    background-size: contain;
    position: absolute;
    top: -5px;
    right: 37px;
    background-repeat: no-repeat;
}